.project {
  padding: 20px 0;
  position: relative;
  margin-top: 10vh;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 3%;
}
.project h2 {
  font-size: 7vh;
  font-weight: 600;
  letter-spacing: -2px;
  margin-bottom: 5vh;
  /* padding-top: -20vh; */
}

.project h2 span {
  color: var(--blueCard);
  font-weight: 600;
}

.i-buttons-container .button.i-button:focus {
  background-color: var(--gray);
  color: var(--blueCard);
  /* margin-bottom: 10vh; */
  /* margin-top: 10vh; */
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 5px;
  margin: 2vh;
}

.box img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.box {
  position: relative;
  margin: 2vh;
}

.box::before {
  content: "";
  background-color: rgb(255, 255, 255);
  opacity: 0;
  position: absolute;
  border-radius: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}

.box:hover::before {
  opacity: 0.85;
}

.box {
  position: relative; /* Adiciona posição relativa para facilitar o posicionamento absoluto dos elementos filhos */
}

.proj-txtx {
  position: absolute;
  text-align: center;
  color: var(--blueCard);
  top: 50%; /* Mantendo o texto no centro */
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease-in-out;
  opacity: 0; /* Inicialmente, o texto estará invisível */
  width: 100%;
}

.box:hover .proj-txtx {
  opacity: 1;
}

.proj-txtx h4 {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1.1em;
  margin-bottom: 10px;
}

.proj-txtx span {
  font-weight: 500;
  font-size: 1.5vh;
  letter-spacing: 1px;
  margin-top: 10px;
}
