
.container {
  color: var(--color-text);
  margin-top: 99px;
  margin-left: 10%;
  margin-right: 10%;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
  /* border-radius: 3%; */

}

.title {
  color: var(--color-text);
  font-size: 7vh;
  font-weight: 600;
  letter-spacing: -2px;
}

.title span {
  color: var(--blueCard);
  font-weight: 600;
  letter-spacing: -2px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
}

.skills {
  width: 45%;
  display: grid; /* Alterado para grid */
  grid-template-columns: repeat(3, 1fr); /* Define 3 colunas iguais */
  gap: 20px; /* Espaçamento entre os elementos */
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.skillImageContainer {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.skillImageContainer img {
  width: 60px;
}

.skill p {
  font-size: 15px;
  font-family: var(--font-roboto);
  font-weight: 500;
  text-align: center; /* Ajustado para centralizar o texto */
}

.history {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  background: #d4d4d4;
  background: linear-gradient(90deg, #f1f0f0 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 10px;
  padding: 24px;
  margin-top: -15px;
}

.historyItem img {
  width: 70px;
  display: flex;
  flex-direction: column;
}

.historyItemDetails {
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  font-size: 25px;
  font-weight: 500;
  text-align: left;
}

.historyItemDetails p {
  font-size: 20px;
  font-weight: 500;

}

.historyItemDetails ul {
  /* list-style-position: inside; */
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  /* list-style-type: none; */
  list-style-type: circle;
  margin-right: 5px;
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo na tela */
    width: 100%;
    height: auto; /* Altura automática para acomodar o conteúdo */
  }

  .title {
    color: var(--color-text);
    font-size: 4vh;
    font-weight: 600;
    letter-spacing: -2px;
    margin-bottom: 20px; /* Espaçamento inferior para separar o título do conteúdo */
  }

  .title span {
    color: var(--blueCard);
    font-weight: 600;
    letter-spacing: -2px;
  }

  .content {
    display: flex;
    flex-direction: row; /* Altera para layout vertical */
    width: 100%;
  }

  .skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    margin-bottom: 20px; /* Espaçamento inferior para separar as habilidades */
  }

  .skills p {
    font-size: 5px;
  }

  .skillImageContainer {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20%;
    width: 50px; /* Ajusta o tamanho do container de imagem */
    height: 50px; /* Ajusta o tamanho do container de imagem */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40vh;
  }

  .skillImageContainer img {
    width: 20px;
    height: 20px;
  }

  .history {
    width: 100%; /* Ocupa toda a largura disponível */
  }

  .historyItem {
    display: flex;
    flex-direction: row; /* Altera para layout vertical */
    align-items: center; /* Alinha à esquerda */
    background: #d4d4d4;
    background: linear-gradient(90deg, #f1f0f0 0%, rgba(25, 55, 109, 0) 100%);
    border-radius: 10px;
    padding: 24px;
    margin-bottom: 20px; /* Espaçamento inferior para separar os itens de histórico */
  }

  .historyItem img {
    width: 70px;
    margin-bottom: 10px; /* Espaçamento inferior entre a imagem e os detalhes */
  }

  .historyItemDetails {
    font-family: var(--font-roboto);
  }

  .historyItemDetails h3 {
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 10px; /* Espaçamento inferior entre o título e o conteúdo */
  }

  .historyItemDetails p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px; /* Espaçamento inferior entre os parágrafos */
  }

  .historyItemDetails ul {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    list-style-type: circle;
    margin-left: 20px; /* Indenta a lista */
  }
}
